* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

body{
  background-color: #28b2c0;
  font-family: 'Poppins', Roboto, sans-serif;
  display: flex;
}

.Maincontainer{
       width: 100vw;
       height: 100vh;
       margin: 0;

       display: grid;
       grid-template-columns: 35% auto;
         color: #fff;

}

section{

}

.left{
  /* Mantem o texto centralizado */
  background-color: #534a99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{

  display: grid;
  grid-template-rows: 25% auto 25%
  padding: 10% 5%;
  justify-items: center;
}

 h1, p{
  align-self: center;
  text-align: center;
}
span{
  align-self: start;
  text-align: center;
  color: #b80101;
  font-weight: bold;

}
.left h1{
  font-size: 2rem;
}

.form{
  width: 80%;
  align-self: center;
}

input{
  margin-top: 2%;
  padding: 5%;
  height: 20%;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}
button{
  font-family: 'Poppins', Roboto, sans-serif;
  border: 0.1em solid #FFFFFF;
  background: none;
  text-align: center;
  margin-top: 2%;
  height: 55px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;


}

button:hover{

background-color: #239da9;
}

.invisivel{
  display: none;
}
