* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

body{
  background-color: #28b2c0;
  font-family: 'Poppins', Roboto, sans-serif;
  display: flex;
}

.Maincontainer{
       width: 100vw;
       height: 100vh;
       margin: 0;

       display: grid;
       grid-template-columns: 35% auto;
         color: #fff;

}

section{

}

.left{
  /* Mantem o texto centralizado */
  background-color: #534a99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{

  display: grid;
  grid-template-rows: 25% auto 25%
  padding: 10% 5%;
  justify-items: center;
}

 h1, span{
  align-self: center;
  text-align: center;
}

.form{
  width: 80%;
  align-self: center;
}

input, button{
  margin-top: 2%;
  padding: 5%;
  height: 40px;
  border-radius: 15px;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}
